In [ ]:
a=2
A="variabel 2" 
print(a)

In [ ]:
Nama="Muhamad Kharel Putra Pradana"
cn="karel,"
Nim="23090250017"
Alamat="Bantar Gebang, Bekasi, Jawa Barat."
Mot="ingin belajar pemrograman dan mendalami python"

print("Halo teman teman, perkenalkan nama saya",Nama, "saya biasa dipanggil",cn, "dan NIM saya adalah",Nim)
print("Saya dari",Alamat, "Motivasi saya masuk kelas ini adalah",Mot)

In [ ]:
a = float(input("Masukkan nilai a: "))
b = float(input("Masukkan nilai b: "))   

if b > a:
    print("b is greater than a")
elif a > b:
    print("a is greater than b")
else:
    print("a is equal to b")

In [ ]:
x=int(input("Masukkan nilai x: "))
if x > 10:
    print("Nilai di atas 10")
    if x >20:
        print("Dan di atas 20")
else:
    print("tapi tidak dok di atas 20")

In [ ]:
print("Sains Data 25")

In [ ]:
Nama = str(input("Masukkan nama: "))
NIM = int(input("Masukkan NIM: "))
Nilai = float(input("Masukkan nilai: "))
if Nilai >= 90 and Nilai <= 100:
    print("A")
elif Nilai >= 80 and Nilai <= 90:
    print("AB")
elif Nilai >= 70 and Nilai <= 80:
    print("B")
elif Nilai >= 60 and Nilai <= 70:
    print("BC")
elif Nilai >= 50 and Nilai <= 60:
    print("C")
elif Nilai >= 40 and Nilai <= 50:
    print("D")
elif Nilai >= 30 and Nilai <= 40:
    print("E")
elif Nilai >= 0 and Nilai <= 30:
    print("F")
else:
    print("Nilai Invalid")
if Nilai >= 100 and Nilai <= 0:
    print("Gada nilai segitu jir kocak")
elif Nilai >= 60 and Nilai <= 100:
    print("Selamat",Nama,"dengan NIM",NIM,"anda mendapatkan nilai",Nilai, "anda dinyatakan lulus")
elif Nilai >= 0 and Nilai < 60:
    print("Maaf",Nama,"dengan NIM",NIM,"anda mendapatkan nilai",Nilai, "anda dinyatakan tidak lulus")
else:
    print("Nilai Invalid bang")

In [ ]:
a=2
b=4

print("Nilai a =",a**2)
print(b**3)

In [6]:
i=0
while i < 6:
    i += 1
    if i==3:
        continue
    print(i)

1
2
4
5
6

In [10]:
for x in range(2, 6):
    print(x)

2
3
4
5

In [12]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry", "melon"]
for x in adj:
    for y in fruits:
        print(x, y)

red apple
red banana
red cherry
red melon
big apple
big banana
big cherry
big melon
tasty apple
tasty banana
tasty cherry
tasty melon

In [4]:
def my_function():
    print("Hello python from a function")
my_function()

Hello python from a function

In [4]:
def nama_siswa(siswa1,siswa2):
    print(siswa1+" "+siswa2)

In [5]:
nama_siswa("Azhril","Elsa")

Azhril Elsa

In [11]:
def name_siswa(*siswa):
    print(siswa[0])

In [12]:
name_siswa("Azhril","Elsa","Budi","Siti")

Azhril

0 keluar azhril karena start dari 0

In [17]:
def siswa_nama(siswa1,siswa2, siswa3, siswa4):
    print("siswa nomor 1 adalah",siswa1)
    print("siswa nomor 2 adalah",siswa2)
    print("siswa nomor 2 adalah",siswa3)
    print("siswa nomor 4 adalah",siswa4)

In [18]:
siswa_nama(siswa3="Azhril",siswa1="Elsa",siswa2="Budi",siswa4="Siti")

siswa nomor 1 adalah Elsa
siswa nomor 2 adalah Budi
siswa nomor 2 adalah Azhril
siswa nomor 4 adalah Siti

In [ ]:
def penjumlahan(a,b):
    hasil = a + b
    print(hasil)

In [22]:
penjumlahan(892, 5)

897

In [4]:
def penjumlahanR(a,b):
    return a + b

In [ ]:
penjumlahanR(892, 5)

In [ ]:
def penjumlahanL(a,b):
    hasil = a + b
    print(hasil)
    print

In [5]:
penjumlahanR(5,7)

12

In [3]:
b = "aku"
c = 10
e = b + str(c)
print(e)

aku10