In [8]:
a=2
A="variabel 2" 
print(a)

2

In [7]:
Nama="Muhamad Kharel Putra Pradana"
cn="karel,"
Nim="23090250017"
Alamat="Bantar Gebang, Bekasi, Jawa Barat."
Mot="ingin belajar pemrograman dan mendalami python"

print("Halo teman teman, perkenalkan nama saya",Nama, "saya biasa dipanggil",cn, "dan NIM saya adalah",Nim)
print("Saya dari",Alamat, "Motivasi saya masuk kelas ini adalah",Mot)

Halo teman teman, perkenalkan nama saya Muhamad Kharel Putra Pradana saya biasa dipanggil karel, dan NIM saya adalah 23090250017
Saya dari Bantar Gebang, Bekasi, Jawa Barat. Motivasi saya masuk kelas ini adalah ingin belajar pemrograman dan mendalami python

In [5]:
a = float(input("Masukkan nilai a: "))
b = float(input("Masukkan nilai b: "))   

if b > a:
    print("b is greater than a")
elif a > b:
    print("a is greater than b")
else:
    print("a is equal to b")

ValueError: could not convert string to float: ''

In [ ]:
x=int(input("Masukkan nilai x: "))
if x > 10:
    print("Nilai di atas 10")
    if x >20:
        print("Dan di atas 20")
else:
    print("tapi tidak dok di atas 20")

In [6]:
print("Sains Data 25")

Sains Data 25

In [10]:
Nilai = int(input("Masukkan nilai: "))
if Nilai >= 90:
    print("A")
elif Nilai >= 80:
    print("AB")
elif Nilai >= 70:
    print("B")
elif Nilai >= 60:
    print("BC")
elif Nilai >= 50:
    print("C")
elif Nilai >= 40:
    print("D")
elif Nilai >= 0:
    print("E")

E

In [9]:
a=2
b=4

print("Nilai a =",a**2)
print(b**3)

Nilai a = 4
64