In [1]:
tambah_10_lambda = lambda x: x + 10

print(tambah_10_lambda(5))

15

In [2]:
def tambah_10(x):
    return x + 10

In [3]:
tambah_10(5)

15

baru lagi bos, yg ini parameternya 2 buat tambah(penjumlahan)

In [ ]:
def tambah_10(a, b):
    return a + b

In [ ]:
tambah_2_angka = lambda a, b: a + b
print(tambah_2_angka(3, 7))

contoh lambda (kondisional)

In [7]:
is_genap=lambda x: True if x % 2 == 0 else False
print(is_genap(1100998909878911))
print(is_genap(5))
print(is_genap(8))

False
False
True

Map

In [16]:
numbers = [1, 2, 3, 4, 5]
map_result = map(lambda x: x ** 2, numbers)
print(list(map_result))

[1, 4, 9, 16, 25]

In [13]:
def kuadrat(x):
    return x * x

numbers = [1, 2, 3, 4, 5]

hasil_map = map(kuadrat, numbers)
print(list(hasil_map))


print(list(map(lambda x: x ** 2, numbers)))

[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25]

In [15]:
def kuadratlagi(x):
    return x * x

nimirs = [10, 20, 30, 40, 50]

hasil_map_kuadrat = map(lambda x: x ** 2, nimirs)
print(set(hasil_map_kuadrat))
hasil_map_lagi = list(map(kuadratlagi, nimirs))
print(hasil_map_lagi)

{1600, 900, 2500, 100, 400}
[100, 400, 900, 1600, 2500]

In [1]:
nama = ["Andi", "Budi", "Caca", "Dodi", "Eka"]

hasil_kapital = map(lambda s: s.upper(), nama)
print(list(hasil_kapital))
print(list(map(str.upper, nama)))

['ANDI', 'BUDI', 'CACA', 'DODI', 'EKA']
['ANDI', 'BUDI', 'CACA', 'DODI', 'EKA']

In [8]:
harga = [1000, 5000, 3000]

ppn_10persen = map(lambda x: x * 0.1+x, harga)
print(list(ppn_10persen))

[1100.0, 5500.0, 3300.0]

Filter

In [11]:
#cara lama
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
angka_genap = []

for num in numbers:
    if num % 2 == 0:
        angka_genap.append(num)

print(angka_genap)

[2, 4, 6, 8, 10]

In [13]:
#cara fungsional pakai filter
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
hasil_genap = filter(lambda x: x % 2 == 0, numbers)
print(list(hasil_genap))

[2, 4, 6, 8, 10]

In [14]:
nilai = [65, 70, 75, 80, 85, 90, 95, 100]

nilai_lulus = filter(lambda n: n >= 75, nilai)
print(list(nilai_lulus))

[75, 80, 85, 90, 95, 100]

In [15]:
nama_mhs = ["Budi", "Andi", "Susilo", "Cahyo"]
nama_yang_lebih_dari_4 = filter(lambda s: len(s) > 4, nama_mhs)
print(list(nama_yang_lebih_dari_4))

['Susilo', 'Cahyo']

In [16]:
nama_mhs = ["Budi", "Andi", "Susilo", "Cahyo"]
nama_yang_lebih_dari_4 = list(filter(lambda s: len(s) > 4, nama_mhs))
print(nama_yang_lebih_dari_4)

['Susilo', 'Cahyo']

Reduce

In [17]:
from functools import reduce
angka = [1, 2, 3, 4, 5]
hasil_reduce = reduce(lambda x, y: x + y, angka)
print(hasil_reduce)

15

In [18]:
number_list = [1, 2, 3, 4, 5]
total = 0

for angka in number_list:
    total = total + angka

print(total)

15

In [19]:
from functools import reduce
numbers = [1, 2, 3, 4]

total = reduce(lambda x, y: x + y, numbers)
print(total)

10

In [ ]:
from functools import reduce
nilai = [65, 70, 75, 80, 85]

terkecil = reduce(lambda x, y: x if x < y else y, nilai)
terbesar = reduce(lambda x, y: x if x > y else y, nilai)
print(terbesar)

85

In [1]:
import pandas as pd
#membaca data
data_pegawai = pd.read_csv('https://raw.githubusercontent.com/adelnehme/intro-to-data-visualization-Python-live-training/refs/heads/master/employee_churned_trimmed.csv', index_col="Unnamed: 0")
#menampilkan data
data_pegawai

,Age,Attrition,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,JobInvolvement,JobSatisfaction,MonthlyIncome,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,WorkLifeBalance,YearsAtCompany
0,41,Churned,1,College,Life Sciences,Good,Female,Great,Excellent,5993,11,Great,Low,80,Low,6
1,49,Stayed,8,Below College,Life Sciences,Great,Male,Good,Good,5130,23,Excellent,Excellent,80,Great,10
2,37,Churned,2,College,Other,Excellent,Male,Good,Great,2090,15,Great,Good,80,Great,0
3,33,Stayed,3,Master's degree,Life Sciences,Excellent,Female,Great,Great,2909,11,Great,Great,80,Great,8
4,27,Stayed,2,Below College,Medical,Low,Male,Great,Good,3468,12,Great,Excellent,80,Great,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,Stayed,23,College,Medical,Great,Male,Excellent,Excellent,2571,17,Great,Great,80,Great,5
1466,39,Stayed,6,Below College,Medical,Excellent,Male,Good,Low,9991,15,Great,Low,80,Great,7
1467,27,Stayed,4,Bachelor's degree,Life Sciences,Good,Male,Excellent,Good,6142,20,Excellent,Good,80,Great,6
1468,49,Stayed,2,Bachelor's degree,Medical,Excellent,Male,Good,Good,5390,14,Great,Excellent,80,Good,9
1469,34,Stayed,8,Bachelor's degree,Medical,Good,Male,Excellent,Great,4404,12,Great,Low,80,Excellent,4